/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 50%; /* Make the page twice as tall */
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(147, 147, 147);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}
h1 {
    padding-top: 17rem;
}
.main {
    padding-top: 60px; /* Give some space for the fixed header */
}

section {
    text-align: center;
    padding: 50px 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: rgb(147, 147, 147);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
