body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: antiquewhite;
  }
  .image {
    background-image: url('../img/IMG_0668.JPG');
    background-size:contain;
    background-repeat:no-repeat;
    height: 500px;
    background-position: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #000000;
    padding: .8rem 1.25rem;
    z-index: 1000;

    /* .nav-left {
        justify-self: flex-start;
    } */
  }

  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: .9rem;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
  }
  
  .navbar a:hover {
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 3px;
  }
  
  .hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.5rem;
  }
  
  .download-button {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid black;
    color: black;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .download-button:hover {
    background: black;
    color: white;
  }
  
  .section {
    padding: 50px;
   
    background-color: black;
  }
  
  .section:nth-of-type(odd) {
    background-color: black;
  }
  
  .section h2 {
    margin: 0 0 20px;
    font-size: 1.5rem;
  }
  
  .section p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .footer {
    position: relative;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
  }
  

  .footer a {
    color: white;
    text-decoration: none;
    margin-left: .9rem;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
  }
  
  .footer a:hover {
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 3px;
  }